*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container_accueil{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em 0;
    padding: 0 1em;
}
/* -----------------------------1ere section --------------------*/
.items_adherer{
    width: 30%;
    min-width: 16em;
    text-align: center;
    margin: 1em 0;
}
.txt_adherer{
    margin: 1em 0;
}
.links_adherer{
    display: inline-block;
    text-align: center;
    width: 8em;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    background-color: var(--violet);
    border-radius: 1em;
    margin: 2em 0;
    padding: 0.5em 1em;
    box-shadow: 5px 10px 7px gray;
    transition: transform ease-in-out 0.5s;
}
.links_adherer:hover{
    transform: scale(1.2);
}
.item_txt_presentation{
    text-align: center;
}
.txt_presentation{
    width: 60%;
    min-width: 18em;
    margin: 1em auto;
}
/* -------------------------------2eme section------------------- */
.containeur_txt_accueil{
    width: 100%;
    text-align: center;
}
.txt_accueil{
    width: 60%;
    min-width: 10em;
    font-size: 2em;
    padding: 1em;
    border: 3px solid var(--jaune);
    border-radius: 2em;
    margin: 1em auto;
}
.container_contributeur{
text-align: center;
}
.txt_contributeur{
    margin: 1em 0.5em;
}
.item_contributeur{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contributeur{
    margin: 0.5em 1em;
}
@media screen and (max-width: 440px) {
    .txt_accueil{
        font-size: 1.7em;
    }    
}